<h1>Login</h1>

{% if erro %}
    <p>{{ erro }}</p>
{% endif %}

<form action="/login" method="POST"> <!--form inicia formulario, action envia dados para rota /login, envia dados para que o primeiro if do flask o receba-->
    <label>Usuário:</label> <!-- label mostra texto -->
    <input type="text" name="usuario"> <!--input cria cmapo para escrever-->

    <label>Senha:</label>
    <input type="password" name="senha"> <!--type password esconde o digitado com ***, senha pega o valor no flask de request.form["senha"]-->

    <button type="submit">Entrar</button> <!--tyoe submit envia o ofrm atraves do button com nome Entrar-->
</form>